*{
    box-sizing: border-box;
    font-family: "Poppins", serif;
    text-decoration: none;
    list-style: none;
    
}
.main{
    margin: 1rem;
    border: 2px solid #05659c;
    border-radius: .8rem;
    
}
body{
    background-color: black;
    max-height: 100vh;
    color: #fff;
}
@media only screen and (min-width: 768px){
    .main{
        margin: 1rem 6rem;
        border: 1px solid #05659c;
    }
}
